<div class="ds_page__top">
  <!--
      Notifications
      Site header
      Site navigation
  -->
  <header class="ds_site-header  ds_site-header--gradient" role="banner">
    <div class="ds_wrapper">
      <div class="ds_site-header__content">
        <div class="ds_site-branding">
          <a class="ds_site-branding__logo  ds_site-branding__link" href="/">
            <img class="ds_site-branding__logo-image" src="/public/images/scotgovlogo.svg" alt="Scottish Government" />
          </a>

          <div class="ds_site-branding__title">
            Accessibility Statement Generator
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
