<div class="button-group">
  {% if page.prev %}
  <a href="/{{ page.prev }}" class="ds_button  ds_button--cancel  ds_button--has-icon  ds_button--has-icon--left">
    <svg class="ds_icon" aria-hidden="true" role="img"><use href="/public/images/icons.stack.svg#chevron_left"></use></svg>
    Back
  </a>
  {% endif %}

  {% if page.next %}
  <a href="/{{page.next}}" class="ds_button  ds_button--has-icon">
    Next
    <svg class="ds_icon" aria-hidden="true" role="img"><use href="/public/images/icons.stack.svg#chevron_right"></use></svg>
  </a>
  {% endif %}
</div>