<div class="ds_layout__sidebar">
  <nav aria-label="Sections" class="ds_side-navigation" data-module="ds-side-navigation">
    <input type="checkbox" class="fully-hidden  js-toggle-side-navigation" id="show-side-navigation" aria-controls="side-navigation-root" />
    <label class="ds_side-navigation__expand  ds_link" for="show-side-navigation"><span class="visually-hidden">Show all</span> Pages in this section <span class="ds_side-navigation__expand-indicator"></span></label>

    <ul class="ds_side-navigation__list" id="side-navigation-root">
      <li class="ds_side-navigation__item">
        <span class="ds_side-navigation__link ds_current">Background information</span>
      </li>
      <li class="ds_side-navigation__item">
        <a href="/feedback" class="ds_side-navigation__link">Feedback</a>
      </li>
      <li class="ds_side-navigation__item">
        <a href="/improving-accessibility" class="ds_side-navigation__link">Improving accessibility</a>
      </li>
      <li class="ds_side-navigation__item">
        <a href="/compliance" class="ds_side-navigation__link">Compliance</a>
      </li>
      <li class="ds_side-navigation__item">
        <a href="/non-compliant" class="ds_side-navigation__link">Non-compliant content</a>
      </li>
      <li class="ds_side-navigation__item">
        <a href="/disproportionate-burden" class="ds_side-navigation__link">Disproportionate burden</a>
      </li>
      <li class="ds_side-navigation__item">
        <a href="/outside-scope" class="ds_side-navigation__link">Outside scope</a>
      </li>
      <li class="ds_side-navigation__item">
        <a href="/download" class="ds_side-navigation__link">Download statement</a>
      </li>
    </ul>
  </nav>
</div>
