<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% if page.title %}{{ page.title }} - {% endif %}Accessibility Statement Generator</title>
    <link rel="stylesheet" type="text/css" href="public/style.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="public/images/favicon.ico">
  </head>
  <body>
    <div class="ds_page">
      {% include header.html %}

      <div class="ds_page__middle">
        <div id="body_wrapper" class="body_wrapper">
          <div class="ds_wrapper">
            <main class="ds_layout  ds_layout--article">
              <div class="ds_layout__header">
                <header class="ds_page-header">
                  <h1 class="ds_page-header__title">{% if page.title %}{{ page.title }}{% else %}Accessibility Statement Generator{% endif %}</h1>

                  <dl class="ds_page-header__metadata  ds_metadata">
                    <div class="ds_metadata__item">
                      <dt class="ds_metadata__key">Last updated</dt>
                      <dd class="ds_metadata__value">12 August 2022</dd>
                    </div>
                  </dl>
                </header>
              </div>
              <div class="ds_layout__content">
                {{ content }}
                
                {% include prev_next.html %}
              </div>
              {% if page.include_nav %}
                {% include sidebar.html %}
              {% endif %}
            </main>
          </div>
        </div>
      </div>
            
      {% include footer.html %}
    </div>
  </body>
</html>